#galeria {
    max-width: 600px;
    text-align: center;
    margin: auto;
}
img {
    display: block;
    max-width: 100%;
    cursor: pointer;
}
ul {
    padding: 0;
    margin-bottom: 10px;
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}