@charset "UTF-8";

body {
    background-color: #454545;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 520px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
}

table {
    background-color: #DEDEDE;
    border-radius: 10px;
    margin: 10px;
    font-size: 13.333px;
    text-align: justify;
    padding: 5px;

}

h1 {
    text-align: center;
    color: #B8860B;
    font-size: 2em;
}

h2 {
    color: #7D5C08;
}

img {
    width: 60px;
}

li {
    font-size: 17.33px;
    font-weight: 700;
}

.modulo > ol {
    display: none;
}
.modulo:hover > ol {
    display: block;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: underline;
}