* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
    font-family: Helvetica, Arial;
    background: #faf6ed;
    color: #222222;
}
ul {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: inherit; 
}
img {
    display: block;
    max-width: 100%;
}

.header-menu {
    grid-column: 3/5;
    padding: 10px;
    margin: 32px 0;
    background: #FB5;
}
.header-menu ul {
    display: flex;
    flex-wrap: wrap;
}
.header-menu a {
    padding: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-right: 10px;
}
.grid-section {
    grid-column: 2/4;
    display: grid;
    gap: 20px;
    grid-template-columns: 90px 300px 1fr;
    padding: 10px;
    margin-bottom: 64px;
}
.grid-section h1 {
    grid-column: 1/4;
    font-family: 'Playfair Display SC', serif;
    font-size: 6rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px;
}

.lista-img {
    grid-column: 2;
    height: 370px;
    cursor: pointer;
    overflow: auto;
}
.lista-img::-webkit-scrollbar {
    height: 18px;
}
.lista-img::-webkit-scrollbar-thumb {
    background: #FB5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}
.lista-img::-webkit-scrollbar-track {
    background: #faf6ed;
}
.animais {
    grid-column: 3;
}
.animais section {
    margin-bottom: 48px;
}
.animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    margin-bottom: 16px;
    color: #E54;
}
.animais h2::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 40px;
    margin-right: 10px;
    background: #FB5;
}
.animais p {
    margin-bottom: 16px;
}

.faq dl {
    grid-column: 2/4;
}
.faq dt {
    font-family: 'IBM Plex Mono', monospace;
    margin: 32px 0px 8px;
    color: #E54;
    cursor: pointer;
}
.faq dt::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 20px;
    margin-right: 10px;
    background: #FB5;
}
.faq dd {
    margin: 0px 0px 8px 30px;
}

.contato img{
    grid-column: 2;
}
.contato ul li {
    margin-bottom: 16px;
}
.contato ul li::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 20px;
    margin-right: 10px;
    background: #FB5;
}

footer {
    grid-column: 3/5;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    padding: 20px;
    background: #FB5;
    margin-bottom: 32px;
}
@media (max-width: 700px) {
    body {
        grid-template-columns: 1fr;
    }
    .header-menu, .grid-section, footer {
        grid-column: 1;
    }
    .header-menu {
        margin: 0 0 32px;
    }
    .grid-section {
        grid-template-columns: 100px 1fr;
        gap: 10px;
    }
    .grid-section h1 {
        font-size: 3rem;
    }
    .lista-img{
        grid-column: 1;
    }
    .contato img, .contato ul {
        grid-column: 1/3;
    }
    footer {
        margin: 0;
    }
}


/* JAVASCRIPT */

/* TABMENU */
.js .js-tabcontent section {
    display: none;
}
.js .js-tabcontent section.ativo {
    display: block;
    animation: tabContent .6s forwards;
}

@keyframes tabContent {
    from {
        opacity: 0;
        transform: translate(-30px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}


/* FAQ */
.js .faq dl dt::after {
    content: '▼';
    display: inline-block;
    position: relative;
    left: 8px;
}

.js .faq dl dt.ativo::after {
    content: '▲';
}

.js .faq dl dd {
    display: none;
}

.js .faq dl dd.ativo {
    display: block;
    animation: accordion .6s forwards;
}

@keyframes accordion {
    from {
        max-height: 0px;
        opacity: 0;
    }
    to {
        max-height: 200px;
        opacity: 1;
    }   
}

/* ANIMAÇÃO */

.js .smooth-scroll {
    opacity: 0;
    transform: translate(-30px);
    transition: .3s;
}

.js .smooth-scroll.ativo {
    opacity: 1;
    transform: translate(0px);
    transition: .3s;
}