.formulario {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.formulario label {
    display: block;
    color: var(--cor-11);
    font: 600 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    background: var(--cor-1);
    font: 400 1rem/1.5 "Roboto", sans-serif;
    border: 1px solid var(--cor-2);
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: var(--cor-p1);
    background: var(--cor-0);
    box-shadow: 0px 0px 0px 2px #fea;

}

.formulario .col-2 {
    grid-column: 1/-1;
}

@media (max-width: 600px) {
    .formulario {
        grid-template-columns: 1fr;
    }
}

