@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

main {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: top center;
    height: 100vh;
}

.iphone {
    background-image: url('../imagens/frame-iphone.png');
    height: 627px;
    width: 311px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home {
    position: relative;
    top: 82px;
    left: 23px;
    height: 469px;
    width: 265px;
}
section#social {
    text-align: right;

}
#social {
    padding: 20px;
}
section#social img{
    height: 4rem;
    margin: 8px;
    box-shadow: 2px 2px 5px black;
    border-radius: 50%;
    box-sizing: border-box;
}

#social img:hover {
    transform: translate(-20%, -5%);
    box-shadow: 5px 5px 10px black;
    border: 2px solid rgb(255, 255, 255);
    transition: transform .5s ;
}