:root {
    --fundo1: #f7f7f7;
    --fundo2: #fff;
    --texto: #000;
    --cor1: #e21;
    --cor2: #900;
    --subtitulo: #00000033;
    --onda: url('../img/onda-light.svg');
}

@media (prefers-color-scheme: dark) {
    :root {
        --fundo1: #111111;
        --fundo2: #000000;
        --texto: #ffffff;
        --cor1: #e21;
        --cor2: #900;
        --subtitulo: #ffffff33;
        --onda: url('../img/onda-dark.svg');
    }
}   

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--fundo1);
    color: var(--texto);
}

h1{
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.3rem;
}

header {
    padding: 60px;
}

header svg {
    display: block;
    margin: auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

header>nav a {
    text-decoration: none;
    background: var(--fundo2);
    color: var(--texto);
    padding: 15px 30px;
    display: inline-block;
    margin-top: 60px;
    border-radius: 5px;
    border: 2px solid var(--fundo2);
    text-transform: uppercase;
}

header>nav a:hover {
    border-color: var(--cor1);
}

/* INICIO DO MAIN */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 1000px;   
}

.bloco1 {
    background-color: var(--fundo2);
    display: grid;
    text-align: right;
    place-content: center end;
    place-items: center end;
    gap: 20px;
    padding: 40px;
    position: relative;
}
.bloco1 h1::before {
    content: "";
    height: 4px;
    width: 60px;
    display: block;
    background-color: var(--cor1);
    position: absolute;
    top: 30px;
    right: -30px;
    
}

.bloco1 a {
    background-color: var(--cor1);
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 5px;
}
.bloco1 a:hover {
    background-color: var(--cor2);
}

.bloco2 img{
    display: block;
    background-color: var(--fundo2);
    width: 100%;
}

.bloco3 {
    display: grid;
    place-content: center end;
}

.bloco3 h2 {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: right;
    color: var(--subtitulo);
    background-image: var(--onda);
    padding: 40px;
}

.bloco4 {
    background-color: var(--fundo2);
    display: grid;
    padding: 40px;
}
.bloco4 section:nth-child(odd) {
    background-color: var(--fundo1);
}
.bloco4 section {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 20px;
    gap: 10px 20px;
    border-left: 4px solid transparent;
}
.bloco4 section:hover {
    border-left-color: var(--cor1);
}

.bloco4 section p {
    grid-column: 2;
}


footer p {
    background-color: var(--fundo2);
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

@media (max-width: 800px) {
    h1 {
        font-size: 1.5rem;
    }
    p, h3 {
        font-size: 1rem;
    }
    header {
        padding: 40px;
    }
    header nav a{
       margin-top: 40px ;
    }
    
    .bloco1 {
        gap: 10px;
        padding: 20px;
    }
    
    .bloco1 a {
        padding: 10px 15px;
        font-size: 0.8rem;
    }
    
    .bloco3 h2 {
        font-size: 3rem;
        padding: 20px;
    }
    
    .bloco4 {
        padding: 20px;
    }

    .bloco4 section {
        padding: 10px;
        gap: 5px 10px;
    }    
    footer p {
        padding: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 670px){
    header {
        padding: 20px;
    }
    header nav ul {
        display: block;    
        margin-top: 20px ;
    }
    
    header>nav a {
        display: block;
        text-align: center;
        padding: 10px 10px;
        margin-top: 2px;
        border-radius: 0px;
    }

    .container {
        display: grid;
        grid-template-columns: auto;
    }
    .bloco1 h1::before {
        display: none;
    }
    .bloco1 {
        text-align: left;
        place-content: start;
        place-items: start;
        grid-row: 2;
    }
    .bloco2 img {
        width: 250px;
        margin: auto;
        
    }

    .bloco3 h2 {
        text-align: center;
    }
}