body {
    height: 200vh;
}

div {
    background: #e7e7e7;
    border: 2px solid #ccc;
    padding: 20px 20px 40px 20px;
    margin-top: 50px;
    position: relative;
}

span {
    padding: 10px;
    border: 2px solid black;
    background: #f7f7f7;
    position: absolute;
    top: -10px;
}